{% extends "base.html" %}

{% block title %} Favourite {% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>{{ shoper_name }}</h1>
    <hr>
    {% if notices|length > 0 %}
        {% for el in notices %}
        <div class="row g-3 border  rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="alert alert-info post col p-4 d-flex flex-column position-static">
                <h2>Title: {{ el.title }}</h2>
                <p><b>Name: {{ el.name_visiable }}</b></p>
                <a href="{{ el.url }}" target="_blank" class="link-dark"><b>Contact</b></a><br>
                <p>Global Text: {{ el.text }}</p>
                <p>Short Text: {{ el.intro }}</p>
                <p><b>Price: {{ el.price }}₽ </b></p>
                <p>Date: {{ el.date.date() }}</p>
                <a href="/posts/{{ el.id }}/{{ id_shoper }}" class="btn btn-go">More</a><br>
                <a href="/posts/{{ el.id }}/{{ id_shoper }}/del_favourite" class="btn btn-danger">Delete from favourite</a>
                <hr>
                
            </div>
            <div class="alert alert-info post col-auto d-none d-lg-block">                
                {% if el.image_1st != '' %}  
                {% set file_name = 'uploads/'+el.image_1st %}
  
                    <image src="{{ url_for('static', filename = file_name ) }}" alt="None" class="bd-placeholder-img image-div" width="400" height="400">
                {% else %}
                    <img src="{{ url_for('static', filename ='img/pict-empty.png' ) }}" alt="None" class="bd-placeholder-img image-div" width="400" height="400">
                {% endif %}            </div>
        </div>
        <hr>
        {% endfor %}
    {% else %}
        <p><b>You have not get any favourite page...</b></p>
    {% endif %} 

</div>
<script src="{{ url_for('static', filename='scripts/none_pattern.js') }}"></script>

{% endblock %}