{% extends "base.html" %}

{% block title %} Global Page {% endblock %}

{% block body %} 



<div class="container p-3 pb-md-4 mx-auto text-center ">
    
  <div class="row mb-2">
    {% if status == "GOOD" %}
        <div class="col-md-6">
          <div class="row g-1 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The Best Post</font></font></h3>
              <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{the_best_post.date.date()}}</font></font></div>
              <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><b>{{the_best_post.intro}}</b></font></font></p>
              <p class="card-text mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{the_best_post.text}}</font></font></p>
              <a href="/posts/{{ the_best_post.id }}/{{ id_shoper }}" class="stretched-link text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">read more</font></font></a>
            </div>
        </div>

        </div>
        <div class="col-md-6">
          <div class="row g-1 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Random Post</font></font></h3>
              <div class="mb-1 text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ random_post.date.date() }}</font></font></div>
              <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><b>{{ random_post.intro }}</b></font></font></p>
              <p class="mb-auto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{ random_post.text }}</font></font></p>
              <a href="/posts/{{ random_post.id }}/{{ id_shoper }}" class="stretched-link text-success"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">read more</font></font></a>
            </div>

          

          </div>
        </div>
      {% else %}
      <br>
      <br>
      <br>
      <hr>
        <p><b>We have not get any page...</b></p>
      {% endif %}
    </div>

</div>


<script src="{{ url_for('static', filename='scripts/pattern.js') }}"></script>

{% endblock %}
