{% extends "base.html" %}

{% block title %} Posts {% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h1>Posts</h1>
    <br>
    {% if notices|length > 0 %}
        {% for el in notices %}
        <div class="row g-3 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="alert alert-info post col p-4 d-flex flex-column position-static">
                <h2>Title: <b>{{ el.title }}</b></h2>
                <p><b>Category:</b> {{ el.intro }}</p>
                <p><b>Seller:</b> {{ el.name_visiable }}</p>
                <p><b>Price:</b> {{ el.price }}₽</p>
                <p><b>Date:</b> {{ el.date.date() }}</p>
                <!-- <p><b>IMG:</b> upload/{{ el.image_1st }}</p> -->
                <a href="/posts/{{ el.id }}/{{ id_shoper }}" class="btn btn-warning">More</a>
                <hr>
            </div>
            <div class="alert alert-info post col-auto d-none d-lg-block">
                <!-- <p>IMG{{ 'uploads/'+el.image_1st }} </p> -->
                {% set file_name = 'uploads/'+el.image_1st %}
                {% if el.image_1st != '' %}    
                    <image src="{{ url_for('static', filename = file_name ) }}" alt="None" class="bd-placeholder-img image-div" width="400" height="400">
                {% else %}
                    <img src="{{ url_for('static', filename ='img/pict-empty.png' ) }}" alt="None" class="bd-placeholder-img image-div" width="400" height="400">
                {% endif %}
            </div>
        </div> 
      

        <div class="row g-2 scattering overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
            <a href="javascript:void(0);" id="noscroll"></a>
            <!-- <a href ="#"> -->
                <!-- <b>{{ amount_like }}</b> -->
            <!-- </a>     -->
        </div>
        <hr>
        <br>
        {% endfor %}
        <!-- <button class="scroll-top sticky-btn">Go to top</button> -->
    <a class="top-link hide" href="" id="js-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
    <span class="screen-reader-text">Back to top</span>
    </a>
    {% else %}
    <p><b>We have not get any page...</b></p>
    {% endif %}

<script src="{{ url_for('static', filename='scripts/for_sticky_btn.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/none_pattern.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/change.js') }}"></script>

</div>
{% endblock %}