{% extends "base.html" %}

{% block title %} {{ notice.title }} {% endblock %}

{% block body %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<div class="container shadow-sm">
    <hr>
    <h1>{{ notice.title }}</h1>
    <br>
    <div class="row g-2 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="alert alert-info post col p-4 d-flex flex-column position-static">
            <p><b>Seller: </b>{{ notice.name_visiable }}</p>
            <p><b>Category: </b>{{ notice.intro }}</p>
            <p><b>About: </b>{{ notice.text }}</p>
            <p><b>Cost: </b>{{ notice.price }}₽</p>

            <a target="_blank"  href="{{ notice.url }}" class="link-dark"><b>Contact for discussion</b></a><br>
            <p><b>Date: </b>{{ notice.date.date() }}</p>
        </div>

        
    <div class="gallery js-flickity container"
        data-flickity-options='{ "wrapAround": true }'>
        {% if notice.image_1st != '' %}
            {% set file_name = 'uploads/'+notice.image_1st %}
            <div class="gallery-cell item">
                <img class="wrapper-image" src="{{ url_for('static', filename = file_name ) }}" alt="Picture">
            </div>

        {% else %}
            <div class="gallery-cell item">
                <img src="{{ url_for('static', filename ='img/pict-empty.png' ) }}" alt="None" class="bd-placeholder-img image-div">
            </div>
        {% endif %}

        {% if notice.image_2nd != '' %}
            {% set file_name = 'uploads/'+notice.image_2nd %}
            <div class="gallery-cell item">
                <img class="wrapper-image" src="{{ url_for('static', filename = file_name ) }}" alt="Picture">
            </div>
        {% endif %}

        {% if notice.image_3rd != '' %}
            {% set file_name = 'uploads/'+notice.image_3rd %}
            <div class="gallery-cell item">
                <img class="wrapper-image" src="{{ url_for('static', filename = file_name ) }}" alt="Picture">
            </div>
        {% endif %}
        
    </div>
    </div>
    
<div class="scattering row g-2 overflow-hidden flex-md-row mb-2 h-md-250 position-relative">
    <a href ="javascript:void(0);" id="noscroll">
        <!-- <b>{{ amount_like }}</b> -->
    </a>    
</div>

<div class="row g-2 overflow-hidden flex-md-row mb-2 h-md-250 position-relative">
    <a href="/posts/{{ notice.id }}/{{ id_shoper }}/favourite" id="noscroll" onclick="change();">
        <img src="{{ url_for('static', filename ='img/star_0.png' ) }}" alt="Star" width="50" height="50">
        <!-- <b>{{ amount_like }}</b> -->
    </a> 
</div>
    
        <!-- <div id="carousel" class="carousel slide d-inline-block" data-ride="carousel">
            
            {% set file_name_1 = 'uploads/'+notice.image_1st %}
            {% set file_name_2 = 'uploads/'+notice.image_1st %}
            {% set file_name_3 = 'uploads/'+notice.image_1st %}
           Индикаторы

            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="{{ url_for('static', filename = file_name_2 ) }}" width="1000" height="1000" alt="None">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="{{ url_for('static', filename = file_name_1 ) }}" width="1000" height="1000" alt="None">
                </div>
                <div class="carousel-item">
                    <img class="img-fluid" src="{{ url_for('static', filename = file_name_3 ) }}" width="1000" height="1000" alt="None">
                </div>
            </div>
            Элементы управления
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div> -->

       
</div>


<!-- /posts/{{ notice.id }}/{{ id_shoper }}/like -->

<!-- <div class="row g-2 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
    <div class="checkbox">
        <input type="checkbox" id="click">
        <label for="click" class="text"> Чекбокс </label>
      </div>
           
</div> -->

<div class="row g-2 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
    
</div>
<script src="{{ url_for('static', filename='scripts/none_pattern.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/change.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/unload.js') }}"></script>

<!-- jQuery -->
<script src="/examples/vendors/jquery/jquery-3.3.1.min.js"></script>
<!-- Popper -->
<script src="/examples/vendors/popper.js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="/examples/vendors/bootstrap-4.1/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

{% endblock %}