{% extends "base.html" %}

{% block title %} Profile {% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>{{ shoper_name }}</h1>
    <hr>
    {% if notices|length > 0 %}
        {% for el in notices %}
        <div class="row g-3 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="alert alert-info post col p-4 d-flex flex-column position-static" style="border: 2px solid {{el.first_color}};">
                <h2>Title: {{ el.title }}</h2>
                <p><b>Name: {{ el.name_visiable }}</b></p>
                <a href="{{ el.url }}" target="_blank" class="link-dark"><b>Contact</b></a><br>
                <p>Global Text: {{ el.text }}</p>
                <p>Short Text: {{ el.intro }}</p>
                <p><b>Price: {{ el.price }}₽ </b></p>
                <p>Date: {{ el.date.date() }}</p>
                
                <a href="/posts/{{ el.id }}/delete/{{ id_shoper }}" class="btn" style=" background-image: linear-gradient(60deg, {{el.first_color}} 10%, {{el.second_color}} 50%, {{el.third_color}} 100%); border-radius: 15px; border: 1px solid white;">Delete</a><br>
                <a href="/posts/{{ el.id }}/edit/{{ id_shoper }}/0" class="btn" style="background-image: linear-gradient(60deg, {{el.second_color}} 10%, {{el.third_color}} 50%, {{el.first_color}} 100%); border-radius: 15px; border: 1px solid white;">Edit</a><br>
                <a href="/posts/{{ el.id }}/{{ id_shoper }}" class="btn" style="background-image: linear-gradient(60deg, {{el.third_color}} 10%, {{el.first_color}} 50%, {{el.second_color}} 100%);  border-radius: 15px; border: 1px solid white;">Go to post</a>
            
            </div>
            <div class="alert alert-info post col-auto d-none d-lg-block" style="border: 2px solid {{el.first_color}};">
                {% if el.image_1st != '' %}    
                    {% set file_name = 'uploads/'+el.image_1st %}
                    <image src="{{ url_for('static', filename = file_name ) }}" alt="None" class="bd-placeholder-img image-div" width="400" height="400">
                {% else %}
                    <img src="{{ url_for('static', filename ='img/pict-empty.png' ) }}" alt="None" class="bd-placeholder-img image-div" width="400" height="400">
                {% endif %}
            </div>


        </div>
        <hr>
        {% endfor %}
    {% else %}
        <p><b>You have not get any page...</b></p>
    {% endif %} 

</div>
<script src="{{ url_for('static', filename='scripts/none_pattern.js') }}"></script>

{% endblock %}