<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/18/18399.png">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/input_file.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body style="margin: 0; background: #000; overflow: hidden;">
    <div class="all">
    <nav class="py-2 bg-light border-bottom nav-items ">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="nav-item"><a href="/{{ id_shoper }}" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/create-notice/{{ id_shoper }}" class="nav-link link-dark px-2">Create</a></li>
            <li class="nav-item"><a href="/posts/{{ id_shoper }}" class="nav-link link-dark px-2">Posts</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Favourite</a></li>
            <li class="nav-item"><a href="/about/{{ id_shoper }}" class="nav-link link-dark px-2">About</a></li>
          </ul>
          <ul class="nav">
            <li class="nav-item"><a href="/profile/{{ id_shoper }}" class="nav-link link-dark px-2">Profile</a></li>
            <li class="nav-item"><a href="/log_in" class="nav-link link-dark px-2">Sign up</a></li>
          </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Add New Post</h1>
        <hr>
        <form class="form" method="post" onsubmit="return check(this);">
    
            <input value='{{ name }}' type="text" name="name" id="name" autofocus class="form-control" placeholder="Укажите имя, которое увидят пользователи"><br>
            <input value='{{ title }}' type="text" name="title" id="title" class="form-control" placeholder="Введите заголовок"><br>
            <input value='{{ url }}' type="url" name="url" id="url" class="form-control" placeholder="Добавьте ссылку на Telegram, чтобы вы могли взаимодействовать с покупателем"><br>
            <input value='{{ price }}' type="text" name="price" id="price" class="form-control" placeholder="Введите цену"><br>
            <textarea type="text" name="intro" id="intro" class="form-control" placeholder="Назовите категорию(-ии) товара">{{ intro }}</textarea><br>
            <textarea  type="text" name="text" id="text" class="form-control" placeholder="Подробно расскажите о выбранном товаре">{{ text }}</textarea><br>        
            <hr>
            <input type="submit" class="btn btn-public btn-success" value="NEXT >" onclick="check();"><br>
            
            <!-- <div class="wrapper">
                <hr>
                <div class="avatar__wrapper">
                    <label>
                        <input type="file">
                    </label>
                </div>
            <div class="load_img">
                <form class="img__wrapper" method="post">
                    <img src="" id="img_1" name="img_1" value="hi">
                    
                    Здесь появляются изображения
                </form>
            </div>

                <div class="download__button">
                <label>
                    файл отправляется в core.js
                    <input type="file" onchange="download(this)">
                    
                </label>
                </div>
            </div> -->
    </form>
</div>
<hr>

  </div>


<canvas></canvas>


<script src="{{ url_for('static', filename='scripts/check_form.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/pattern.js') }}"></script>

</body>
</html>